/* Google Fonts */
@import url("https://Fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
/* variables */
:root {
    --main-color: #54372a;
    --second-color: #df582e;
    --text-color: #060413;
    --container-color: #f8e4be;
    --bg-color: #f9f6f2;
    --text-alter-color: #94908e;
    --poppins-font: "poppins",sans-serif;
    --font-family: "PlayFair Display", serif;
}

body{
  background-color: #dddbf8d8;
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

.header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-color);
    padding: 17px 20px;
    border-radius: 2rem;
}
.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--container-color);
}
.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.nav-link {
    font-size: 0.88rem;
    color: var(--text-alter-color);
    font-family: var(--poppins-font);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover{
    color: #231c83;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-icons.bx{
    color: var(--bg-color);
    font-size: 20px;
}

/* LOGIN */
.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(238, 55%, 90%);
  border: 1px solid hsl(238, 51%, 69%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(240, 95%, 77%);
}

label {
  display: block;
  margin-bottom: 10px;
  color: hsl(240, 95%, 77%);
}

input[type="text"], input[type="password"] {
  width: 93%;
  height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #231c83;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: hsl(240, 95%, 77%);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

input[type="submit"]:hover {
  background-color: #231c83;
}

/* ABOUT */
.pln {
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid hsl(238, 34%, 46%);
  margin-top: 10px;
}

.contact p{
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid hsl(238, 34%, 46%);
}



/* FOOTER */
footer {
  background-color: hsl(240, 95%, 77%);
  padding: 20px 0;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid hsl(238, 86%, 51%);
}

.footer-container {
  text-align: center;
  color: white;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer-links a {
  color: #0f0000;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.footer-links a:hover {
  color: #231c83;
}
