/* Google Fonts */
@import url("https://Fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
/* variables */
:root {
    --main-color: #54372a;
    --second-color: #df582e;
    --text-color: #060413;
    --container-color: #f8e4be;
    --bg-color: #f9f6f2;
    --text-alter-color: #94908e;
    --poppins-font: "poppins",sans-serif;
    --font-family: "PlayFair Display", serif;
}
body {
    color: var(--text-color);
    background: var(--bg-color);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
.header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-color);
    padding: 17px 20px;
    border-radius: 2rem;
}
.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffd700;
}
.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.nav-link {
    font-size: 0.88rem;
    color: #007bff;
    font-family: var(--poppins-font);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover{
    color: #ffd700;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-icons.bx{
    color: #ffd700;
    font-size: 20px;
}
.home {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.5rem;
    font-weight: 800;
    color: #ffd700;
    font-family: var(--poppins-font);
}
.home-text p{
    max-width: 300px;
    font-size: 0.94rem;
    font-family: var(--poppins-font);
    margin: 1rem 0 1.5rem;
}
.btn{
    max-width: 160px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 2rem;
    background: var(--text-color)
}
.btn span{
    font-family: var(--poppins-font);
    color: #007bff;
    text-transform: uppercase;
}
.btn .bx{
    font-size: 20px;
    background: var(--second-color);
    color: #ffd700;
    padding: 5px;
    border-radius: 50%;
    transform: rotate(60deg);
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.heading h2 {
    font-size: 2.2rem;
    font-weight: 800;
}
.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(auto,160px));
    justify-content: space-between;
    gap: 1rem;
}
.ser-box {
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 35px 20px;
    border-radius: 2rem;
}
.ser-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.ser-box p {
    color: var(--container-color)
}
.heading p{
    max-width: 550px;
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--poppins-font);
    margin-top: 1rem;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #007bff;
    padding: 40px 20px;
    position: relative;
}
.book-overlay{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    z-index: -1;
}
.book-data{
    margin-top: 4rem;
}
.book-data h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.book-data form{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-color);
    border-radius: 2rem;
    padding: 2px 10px;
    margin: 1rem 0;
}
.input-box {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.input-box .bx{
    color: #ffd700;
}
.input-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    background: transparent;
}
.book-btn{
    text-align: center;
    font-family: var(--poppins-font);
    font-size: 0.8rem;
    padding: 10px 14px;
    background: var(--main-color);
    color: #ffd700;
    border-radius: 2.5rem;
}
.book-btn:hover{
    background: var(--second-color);
    transition: o.4s all cubic-bezier(0.75, 0.82, 0.165, 1);
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%:
    padding: 10px;
    text-align: center;

}
.footer .logo{
    color: #ffd700;
}
.social{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.social a{
    font-size: 24px;
    color: #007bff;
    margin-right: 1rem;
}
.social a:hover{
    color: #ffd700;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a{
    color: #007bff;
    margin-bottom: 10px;
}
.copyright{
    padding: 30px;
    color: #007bff;
    text-align: center;
}
